
body {
    background: #fff;
    color: #000;
    text-align: center;
    padding: 50px;
    transition: background 0.5s, color 0.5s; 
  }

  body.dark {
    background: #222;
    color: #fff;
  }
  
  button {
    align-content: center;
    font-size: 34px;
    background-color: #227be0;
    border-radius: 20px; 
    transition: background-color 5s  ease;
}
  
  button:hover {
    background: rgb(218, 4, 104);
    color: #fff;
  }
