body{
	background-color:rgb(0, 0, 0);
	color:rgb(73, 1, 255);
	font-size: 25px;


}
.lightmode{
	background-color: white;
	color: black;
	font-size: 25px;

}
section{ 
    overflow: hidden;
    border: 2px solid green;
	border-radius: 25px;
    
}
#title{
    background-color: aqua;
    text-align: center;
    padding: 10px;

}

  body.dark {
    background: #222;
    color: #fff;
  }
  
  button {
    align-content: center;
    font-size: 34px;
    background-color: #227be0;
    border-radius: 20px; 
    transition: background-color 5s  ease;
}
  
  button:hover {
    background: rgb(218, 4, 104);
    color: #fff;
  }
  body.dark {
    background: #ffffff;
	color:rgb(73, 1, 255);
  }
  
  button {
    font-size: 34px;
    background-color: #227be0;
    border-radius: 20px;
    transition: background-color 0.5s ease, color 0.5s ease;
}

button:hover {
    background-color: rgb(218, 4, 104);
	color:rgb(73, 1, 255);
}

