body{
    background-color: rgb(0, 0, 0);
    color: brown;
    font-size: 25px;
}
section{ 
    overflow: hidden;
    border: 2px solid green;
	border-radius: 25px;
    
}
#title{
    background-color: aqua;
    text-align: center;
    padding: 10px;

}
.manhphu{
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
}
.manhphu p{
    animation: meme 20s ease-in infinite;


}
@keyframes meme {
    0%{transform: translateX(-30%);}
     50%{transform: translateX(40%);}
    100%{transform: translateX(-20%);}



}


















