body{
    background-color: rgb(0, 0, 0);
    color: brown;
    font-size: 25px;
}
section{ 
    overflow: hidden;
    border: 2px solid green;
	border-radius: 25px;
    
}
#title{
    background-color: aqua;
    text-align: center;
    padding: 10px;

}
.marquee{
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
}
.marquee p{
    animation: meme 15s ease-in infinite;


}
@keyframes meme {
    0%{transform: translateX(-45%);}
     50%{transform: translateX(45%);}
    100%{transform: translateX(-45%);}



}
.box{
    
    border: 2px solid red;
    height: 20vh;
    width: 20vh;
    padding: 1vw;
    margin: 3vw;
}
.box {
    animation: momo 2s linear infinite;
}
@keyframes momo {
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}

}

#s1{
    animation: mimi 1s ease forwards infinite;
}
#s2{
    animation: mimi 1.5s ease forwards infinite;
}
#s3{
    animation: mimi 2s ease forwards infinite;
}

@keyframes mimi {
    from {opacity:0}
    to {opacity:1}
}
.muangay{
	background-color: rgb(6, 232, 244);
	font-size: 3rem;
	animation: background-color 1s linear forwards;
}
.muangay{
    animation: blink 1s infinite alternate ;
    background-color: rgb(4, 0, 255) ;
}
@keyframes blink{

    0% {
        transform: scale(1) translateY(0px);
        background-color: rgb(6, 232, 244);
      }
      50% {
        transform: scale(1.05) translateY(-10px);
        background-color: rgb(4, 0, 255) ;
      }
      100% {
        transform: scale(1) translateY(0px);
        background-color: rgb(6, 232, 244);
      }

}

.doimau{
    width: 400vh;      
    overflow: hidden;
    margin: 3vw auto;
}
.slider{
    display: flex;
    width: 50%;
    animation: slide 15s infinite;
}
.slider img{
    width: 100%;
    flex-shrink: 0;
}
@keyframes slide{
    0% {transform: translateX(0%); }
    33% {transform: translateX(-100%); }
    66% {transform: translateX(-200%); }
    100% {transform: translateX(0%); }
}














